@model IEnumerable<FishTracker.Models.Water>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFishCaught)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFishCaught)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WaterID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WaterID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WaterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
