@model FishTracker.Models.Weather

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Weather</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BarPressure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BarPressure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OvercastConditions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OvercastConditions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalFishCaught)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalFishCaught)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WeatherID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
